{% extends "hubspot/_cp/_layout" %}

{% block contextMenu %}
    {% include "hubspot/_cp/_layout/_connectionOptions" with {
        availableConnections: availableConnections,
        activeConnection: activeConnection,
        defaultConnection: defaultConnection
    } only %}
{% endblock %}

{% set content %}
    <table class="data fullwidth fixed-layout">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ "Used"|t('hubspot') }}</th>
            <th>{{ "Max"|t('hubspot') }}</th>
        </tr>
        </thead>
        <tbody>
        {% if limits and not limits.hasErrors() %}
            {% for node in limits.attributes %}
                <tr>
                    <th class="light">{{ node.name }}</th>
                    <td>{{ node.currentUsage }}</td>
                    <td>{{ node.usageLimit }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <em>Unable to fetch results because an error occurred.</em>
                </td>
            </tr>
            {% for error in limits.getFirstErrors %}
                <tr>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Reason:</strong> {{ error|raw }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endset %}