{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: "Debug Mode"|t('hubspot'),
    id: 'debugMode',
    name: 'debugMode',
    on: hubspot.settings.debugMode
}) }}

<hr />

<h4>Daily Api Requests</h4>
{% set usage = hubspot.resources.limit.rawReadDaily() %}
{% if usage.hasErrors() %}

{% else %}
    {% set dailyUsage = usage|first %}
    <table class="data fullwidth fixed-layout">
        <thead>
        <tr>
            <th>{{ "Used"|t('hubspot') }}</th>
            <th>{{ "Max"|t('hubspot') }}</th>
            <th>{{ "Resets"|t('hubspot') }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ dailyUsage.currentUsage }}</td>
                <td>{{ dailyUsage.usageLimit }}</td>
                <td>{{ (dailyUsage.resetsAt/1000)|date("F jS \\a\\t g:ia") }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
