{% extends "flipbox-hubspot/_cp/_layout" %}
{% import "_includes/forms" as forms %}

{% do view.registerJsFile("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js") %}
{% do view.registerCssFile("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css") %}
{% js %}
    hljs.initHighlightingOnLoad();
{% endjs %}
{% css %}
    .hljs {
    background: none;
    padding: 0;
    }
    .breakall {
    word-break: break-all;
    }
{% endcss %}

{% block actionButton %}
    <div class="btngroup submit right">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            {% if visitor.id %}
                <ul role="listbox">
                    <li>
                        <a class="formsubmit error"
                           data-action="{{ baseActionPath }}/delete"
                           data-confirm="{{ 'Are you sure you want to delete this visitor?'|t('flipbox-hubspot') }}"
                           data-redirect="{{ baseCpPath|hash }}"
                           role="option"
                           tabindex="-1">{{ "Delete"|t('app') }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="{{ baseActionPath }}/update">
    <input type="hidden" name="identifier" value="{{ visitor.id }}">
    {{ redirectInput(baseCpPath) }}

    <pre>
        <code id="query-results" class="json">{{ visitor.contact|json_decode|json_encode(constant('JSON_PRETTY_PRINT')) }}</code>
    </pre>
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.selectField({
            label: "Status"|t('flipbox-hubspot'),
            id: 'status',
            name: 'status',
            showAllOption: true,
            value: visitor.status,
            options: statusOptions,
            required: true,
            errors: visitor.getErrors('status'),
            toggle: true
        }) }}

        <span id="{{ "pending"|id }}" class="meta{% if visitor.status != 'pending' %} hidden{% endif %}">
            {{ forms.lightswitchField({
                label: "Sync from HubSpot"|t('flipbox-hubspot'),
                id: 'queue',
                name: 'queue',
                on: false
            }) }}
        </span>
    </div>

    {% if visitor.id %}
        <hr>
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div class="value">{{ visitor.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div class="value">{{ visitor.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}

    {% set jobs = visitor.queueJobs.all() %}
    {% if jobs|length %}
        <hr>
        <div class="meta read-only">
            <h5 class="heading">{{ "Queue Jobs"|t('app') }}</h5>

            {% for job in jobs %}
                <div class="data">

                    <div class="value">
                        <span class="status{% if job.fail %} suspended{% elseif job.attempt %} active{% endif %}"></span>
                        {{ job.timePushed|datetime('short') }}
                        {% if job.fail and job.error%}
                            &nbsp;&nbsp;<span class="info">{{ job.error }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
